node_modules
.env
.env.dev
.env.prod

requirements
/token
/test.js
/mail.js
/geo queries
/mongooseQuery.js
/todaywork
/models/test-petModel.js
puttylogs.log
Ali.json
/countries.json
/city.js
models/test.modal.js
models/testCity.js
models/testState.js
package-lock.json
uploads
info
mergeDuplicate.js
schedule.js
key.txt
combined.outerr.log
error.log
out.log
task
features.txt