<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      .email { text-transform: lowercase; }
    </style>
  </head>

  <body>
    <div
      style="display:flex;justify-content: center;align-items: center;text-transform: capitalize;"
    >
      <div>

        <div>
          <h1> click below link to reset your password </h1>

          {{#if email}}
            <h3 class="email">Your Primary email is '{{email}}'</h3>
          {{/if}}
        </div>
        <div>
           <a
            href="{{link}}"
            class="verifyEmail"
          >
          <img
            src="https://petznpetz.s3.us-east-2.amazonaws.com/email/Mazito_signature_Oct.jpeg"
            alt="Mazito Signature"
            style="height: 100px;margin-top: 50px;object-fit: cover"
          />
          </a>
        </div>
      </div>
    </div>
  </body>

</html>